html {
    scroll-behavior: smooth!important;
  }


input:focus {outline:none!important;}

input, select, textarea{
    color: white!important;
    font-weight: bold;
}

body {
    scroll-behavior: smooth!important;
    font-family: 'Heebo', sans-serif!important;
}

/* #pb-navbar {
    height: auto;
} */

#after-cta {
    padding-top: 250px;
    /* background-color: #f2f4f9; */
}

#landing-cta {
    margin-top: 230px;
    padding: 150px 0 150px 0;
    /* background-color: #f2f4f9; */
    background-color: #015185;
}

#landing-cta h2{
    color:white;
    font-size: 3.5em;
}

#section-2 {
    height: 400px;
    background-color: white;
    width: 100%;
}

.header-title-3 {
    color: #565656;
}

.header-title-2 {
    color: #868e96;
}

.blue-font-landing {
    color:#3AA8EE;
}

#landing-body {
    height: 100vh;
    overflow-y: none;
    font-family: 'Lato', sans-serif;
}

#landing-header {
    margin-top: 200px;
    color:white;
}

#landing-form input:focus {
    outline: none!important;
    border: none!important;
}


#landing-form input:active {
    outline: none!important;
    border: none;
    border-bottom: 1px solid white;

}

#landing-form h2 {
    text-shadow: none;
    font-size: 1.8em;
    font-weight: normal;
    color: rgb(71, 71, 71);
}

#landing-header h1, h2, #landing-home-dropdown {
    /* text-transform: uppercase; */
    font-weight: 600;
}

#landing-header h1 {
    font-size: 3.8em;
}

#landing-home-dropdown {
    margin-top:50px;
    letter-spacing: 2px;
}

#landing-header h2 {
    margin-top: 40px;
    font-weight: normal;
    font-size: 1.3em;
}

#landing-form {
    width: 130%;
    background-color: rgba(255, 255, 255, 0.15)!important;
    height: auto;
    margin-top: 70px;
    margin-left: -50px!important;
}

#landing-form h2 {
    color:white;
}

#s-1 .pb_slant-light::after {
    background-color: #015185!important;
}

 
footer {
    background-color: #015185!important;
}

footer p {
    text-align: center;
    color: rgba(201, 201, 201, 0.283);
}

.top-icons {
    height: 120px;
    width: auto;
}

#landing-home {
    /* background: url("../images/landing-2.jpg")!important;
     */
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(1, 1, 45, 0.4)), url("../images/landing-2.jpg");
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: bottom!important;
    height: auto!important;
    padding-bottom: 12em;
}

#section-home {
    background: url("../images/background-2.jpg")!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    height: auto!important;
    padding-bottom: 12em;
}

#section-home-content {
    padding: 13em 0;
    font-family: 'Montserrat', sans-serif!important;
    font-weight: bolder!important;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#section-home-content h1{
    font-size: 3em;
}

#section-home-content h2{
    font-size: 1.6em;
    margin-top: 30px;
}

#section-home-dropdown {
    text-transform: unset!important;
    margin-top: 80px;
    font-weight: 500;
    text-shadow: 1px 2px 5px rgba(9, 9, 9, 0.407);
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 5%;
    z-index: 100;
    width: 10%;
    min-width: 200px;
    height: auto;
}

.blue-font {
    color: #015185;
    letter-spacing: 1px;
    text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.3);
}

#col-md-select {
    position: absolute;
    width: 40%;
    top: 25%;
    left: 30%;
    z-index: 100;
}

#selected-pricing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    /* margin-left: 3%; */
    width: 95%;
    max-width: 450px!important;
    height: 780px;
}

#selected-pricing h3 {
    font-size: 2.6em!important;
}

#dropdown-home {
    background-color: #015185;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 0;
    padding: 8px 22px;
    height: 2.8em;
    margin-top: 50px;
}

#dropdown-home:hover {
    background-color: #01609f;
}

#section-features .row{
    margin-top: -6em;
}

#section-features h5 {
    color: #565656;
}

#section-features p {
    padding: 0 1em 0 1em;
}

#section-features-landing {
    font-family: 'Heebo', sans-serif!important;

}

.landing-p {
    font-family: 'Heebo', sans-serif!important;
    font-weight: normal!important;
}

#footer {
    background-color: #015185!important;
    height: 60px;
    padding-top: 25px;
    margin-bottom: -5px;
}

#footer-txt {
    font-size: .6em!important;
    color: rgba(159, 159, 159, 0.386)!important;
}

#facetime {
    height: 540px;
    width: auto;
    position: absolute;
    top: -180px;
    right: 5%;
}


#in-app {
    height: 540px;
    width: auto;
    position: absolute;
    top: -120px;
    right: 5%;
}

#planapp {
    height: 540px;
    width: auto;
    position: absolute;
    top: -120px;
    right: 5%;
}

.h5-title {
    font-size: 1.3em;
    margin-bottom: 20px;
}


#section-landing-2 h3 {
    margin-left: 38px;
    z-index: 1;
    position: relative;
    line-height: 1.6em;
    font-size: 2.4em;
    font-weight: bold;
}

#section-landing-2 p {
    margin-left: 38px;
    padding-right: 20%;
    font-weight: normal;
    font-size: 1em;
}

#section-landing-2 span {
    color: rgba(199, 197, 197, 0.514);
    font-size: 8em;
    position: absolute;
    font-weight: bolder;
    top: -90px;
    z-index: 0;
}

.section-landing-row {
    margin-top: 400px;
}

#section-features-landing .row{
    margin-top: -6em;
}

#section-features-landing h5 {
    color: rgb(40, 40, 40)!important;
    font-family: 'Heebo', sans-serif!important;

}

#section-features-landing p {
    color: rgb(84, 84, 84);
    font-family: 'Heebo', sans-serif!important;

}

#section-landing-2 {
    padding-bottom: 100px;
}

#section-landing-2 h5 {
    color: rgb(84, 84, 84);
    font-size: 1em;
    /* text-transform: uppercase; */
}

#section-landing-2 h2 {
    color: rgb(40, 40, 40);
    font-size: 4em;
    text-shadow: none;
    padding-bottom: 100px;
}

#section-features-landing h5 {
    color: #565656;
}

#section-features-landing p {
    padding: 0 1em 0 1em;
}

#section-features-landing {
    margin-top: 100px;
}

#section-3 {
    margin-top: -4em;
    padding-bottom: 18em;
}

#section-3 h2 {
    position: relative;
    z-index: 2;
}

#section-3 h4 {
    font-size: 1.4em;
    color: #5b5b5b;
}

#section-3 .col {
    padding: 3em;
}

#section-3 .row {
    margin-top: 4em;
}

#section-3 p {
    color: #868e96;
}

.how-img {
    height: 300px;
    width: auto;
    float: right;
    margin: 0 3em 0 3em;
}

/* .how-right {
    padding-right: 2em;
}

.how-left {
    padding-left: 2em;
} */

#eight-steps {
    margin-top: -10%;
    margin-left: -5%;
}

.how-icon {
    height: 50px;
    width: auto;
}

.process-pics {
    height: 120px;
    width: auto;
    margin-left: 35%;
}

.hiw-p {
    color: #565656;
    font-size: 20px;
    font-family: "Montserrat", Arial, sans-serif;
    text-align: center;
    font-weight: 500;
}

.hiw-t {
    text-align: center;
    color: #868e96;
}

.img-right .how-img{
    float: left;

}
.eight-step {
    font-size: 1.8em;
    margin-top: 2em;
    /* margin-left: 75%; */
    color: grey;
}

#cta-1 {
    padding-bottom: 17em;
    background-color: #015185!important;
}

#cta-1 h2 {
    text-transform: uppercase;
    font-size: 2.2em;
    margin-top: -1em;
    position: relative;
    z-index: 99;
    color: white;
}

#s-2 .pb_slant-light::after {
    background-color: #015185!important;

}

.star-rating {
    color: #3AA8EE!important;
}

#cta-1-btn {
    background-color: #3AA8EE;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 0;
    margin-left: 15px;
    padding: 12px 40px;
    height: 2.8em;
    margin-top: 50px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.338);
}

#cta-1-btn:hover {
    background-color: rgb(45, 152, 218);
}

#section-pricing h5 {
    margin-top: 12em;
}

#section-pricing h2 {
    color: #565656;
}


.pricing-small {
    color: grey;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .6em;
}

.price {
    color: #3AA8EE!important;
}

.blue-check-pricing {
    height: 18px;
    width: auto;
}

.pricing-btn {
    background-color: #015185;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 0;
    margin-left: 15px;
    padding: 14px 60px;
    margin-top: 50px;
    box-shadow: 2px 4px 6px rgba(128, 128, 128, 0.338);
}

#selected-pricing .price{
    font-size: 5em;
    margin-top: 0;
}

.pricing-btn-2 {
    background-color: #015185;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 0;
    margin-left: 15px;
    padding: 8px 18px;
    margin-top: 50px;
    box-shadow: 2px 4px 6px rgba(128, 128, 128, 0.338);
    position: relative;
    z-index: 102;
}

#landing-form input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid white;
}

#landing-form label {
    font-size: .7em;
    margin-bottom:20px;
    color: white;
}

.pricing-btn:hover {
    background-color: #01609f;
}

.pricing-btn-2:hover {
    background-color: #01609f;
}

.border-primary {
    border-color: #3AA8EE!important;
    -webkit-box-shadow: -5px 10px 58px -27px rgba(58, 169, 238, 0.413);
    -moz-box-shadow: -25x 10px 58px -27px rgba(58, 169, 238, 0.413);
    box-shadow: -5px 10px 58px -27px rgba(58, 169, 238, 0.413);
}

#contact-btn {
    background-color: #3AA8EE;
    border: none;
    margin-top: 40px;
    border-radius: 0;
    font-size: 1em;
    padding: .9em;
}

#contact-btn:hover {
    background-color: rgb(49, 156, 222);
}

#cta-btn {
    background-color: #3AA8EE;
    border: none;
    margin-top: 55px;
    border-radius: 0;
    font-size: 1em;
    padding: .9em;
    width: 40%;
    text-align: center;
}

#cta-btn:hover {
    background-color: rgb(49, 156, 222);

}

#section-reviews {
    padding-left: 6em;
    padding-right: 6em;
}

#selected-pricing-2 {
    display: none;
} 

.top-nav {
    background-color: #015185;
    height: 100px;
}

.top-nav ul {
    padding-left: 15%;
    padding-right: 15%;
}

.top-nav a {
    color: white;
   
}

#section-success-1 {
    height: 2000px;
}

.navbar-toggle {
    background-color: white;
}


@media only screen and (max-width: 1440px) and (min-width: 1200px) {
    #col-md-select {
        
    }

    #selected-pricing {
        width: 430px;
    }
} 

@media only screen and (max-width:1300px) {
    .pb_pricing_v1 h3 {
        font-size: 2em!important;
    }
    #section-pricing p {
        font-size: .8em;
    }
    #selected-pricing p {
        font-size: .9em;
    }
    #logo {
        width: 18%;
        min-width: 0px;
        left: 40%;
    }
    /* .process-pics {
        margin-left: 75px;
    } */
} 

@media only screen and (max-width:991px) {
    #selected-pricing {
        display: none;
    }
    #selected-pricing-2 {
        display: block;
    }
    .pricing-btn-2 {
        padding: 18px 48px;
        font-size: 1.3em;
    }
    .process-pics {
        margin-left: 22%;
    }
    #landing-home h1 {
        margin-top: -100px;
    }
    #landing-form {
        margin: unset;
        margin-top: 40px;
        margin-left: 0!important;
        max-width: 100%;
    }
    #landing-home {
        padding-bottom: 500px;
    }
   
    
} 

@media only screen and (max-width:768px) {
    form {
        margin-top: 100px;
    }
    #logo {
        width: 26%;
        min-width: 0px;
        left: 37%;
    }
    #section-home-content {
        padding: 2em;
    }
    .how-img {
        display: none;
    }
    .how-icon {
        height: 100px;
        margin-bottom: 25px;
        margin-top: 50px;
    }
   #section-3 {
       text-align:center!important;
   }
   .text-right {
    text-align:center!important;
   }
   .text-right-mb {
       margin-bottom: 50px;
   }
   .process-pics {
    margin-left: 39%;
    }
    #facetime {
        position: static;
        margin: 0;
        margin-bottom: -300px;
    }
    #planapp {
        position: static;
        margin: 0;
        margin-bottom: -300px;
    }
    #in-app {
        position: static;
        margin: 0;
        margin-bottom: -300px;
    }
    #form-header {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.365)!important;
    }
    #landing-home h1 {
        margin-top: -300px;
    }
    #landing-home {
        padding-bottom: 100px;
    }
    #section-landing-2 h2 {
        margin-bottom: -250px;
    }
}

@media only screen and (max-width:601px) {
    .process-pics {
        margin-left: 27%;
    }
}

@media only screen and (max-width:475px) {
    .process-pics {
        margin-left: 21%;
    }
}